name: Set of tests for Self-Hosted RISC-V runner

on: [workflow_dispatch]

jobs:
  run:
    runs-on: self-hosted

    steps:
    - name: Test actions/checkout
      uses: actions/checkout@v4

    - name: CPU info
      run: |
        uname -m
        cat /proc/cpuinfo

    - name: OS info
      run: cat /etc/os-release

    - name: Crete a text file
      run: echo 123 > file.txt

    - name: Test actions/upload-artifact
      uses: actions/upload-artifact@v4
      with:
        name: file
        path: file.txt
